/* 스타일 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222328;
  list-style: none;

  /* 밑줄 없애는 기능 */
  text-decoration: none;
}
/* 공통스타일 */
.blind{
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
#wrap{
  width: 1200px;
  /* background-color: pink; */
  margin: auto;
}
header{
  display: flex;
  /* 1번 */
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
#gnb{
  /* margin-left: auto; */
  display: flex;
  /* 2번, top 3번, left 4번 -> 한 세트 */
  position: absolute;
  top: 0;
  right: 0;
  gap: 40px;
  /* gap은 display:flex에만 너비 조정을 할 수 있음. if 없으면 사용불가 */
}
#gnb::before{
  content: "";
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  width: 1200px;
  height: 150px;
  background-color: rgba(255, 59, 59, 0.7);
}
#gnb:hover::before{
  display: block;
  background-color: rgb(255, 255, 255);
}
#gnb dl {
  position: relative;
  z-index: 10;
  min-width: 110px;
}
/* #gnb dl:hover dd 각 메뉴의 depth2가 열림 */

/* #gnb:hover dl dd 모든 메뉴의 depth2가 열림  */
#gnb:hover dl dd{
  display: block;
}
#gnb dt a{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  justify-content: center;
}
#gnb dl:hover dt a{
  color: #1100ff;
}
#gnb dl:hover dt a::after{
  display: block;
}
#gnb dt a::after{
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: red;

}
#gnb dd{
  display: none;
  background-color: #fff;
  padding: 5px 20px;
}
.slide{
  overflow: hidden;
  height: 300px;
}
.slide ul{
  display: flex;
}
.slide ul img{
  display: block;
}
main{
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding-top: 20px;
  /* background-color: lightcyan; */
}
main section{
  width: 30%;
}
section .title{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
/* 공지사항 */
.list-bbs li{
  display: flex;
  align-items: center;
  gap: 10px;
}
.list-bbs li::before{
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #222;
}
.list-bbs a{
  display: block;
  white-space: nowrap;
  padding: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  /* background-color: blue; */
  font-size: 16px;
  /* color: red; */
}
.bnr{
  width: 100%;
}
.list-goto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 20px;
}
.list-goto a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 70px;
  background-color: rgb(173, 224, 222);
  border-radius: 10px;
}
footer{
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  display: flex;
  height: 100px;
  padding: 0 20px;
  border-top: 1px solid #000;
  background-color: #f3f3f3;
}
footer .logo{
  font-size: 20px;
}
address{
  font-style: normal;
}
sns a{
  display: inline-block;
  padding: 20px 10px;
}

#modal{
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}
.modal-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 500px;
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#modal .title{
  text-align: center;
}
#modal .btn-close{
  display: block;
  margin: auto auto 0 auto;
  /* margin-top: auto; */
  padding: 10px 20px;
  background-color: #000;
  border: none;
  border-radius: 7px;
  border: 1px solid #eee;
  color: #fff;
}